#rights-debugger .search input, 
#rights-debugger .results .result .cell {
    display: inline-block;
    width: 15em;
}

#rights-debugger .results .result .cell {
    padding: 2px;
}

#rights-debugger .results .result:nth-child(even) {
    background-color: #DBE5F0;
}

#rights-debugger .results .result .match {
    font-weight: bold;
}
