#rights-debugger .search input, 
#rights-debugger .results .result .cell {
    display: inline-block;
    width: 15em;
}

#rights-debugger .search .loading {
    display: none;
}

#rights-debugger .search .loading img,
#rights-debugger .results .revoke img {
    height: 1.5em;
    width: 1.5em;
}

#rights-debugger.refreshing .search .loading {
    display: inline;
}

#rights-debugger.refreshing .results {
    opacity: 0.5;
}

#rights-debugger .results .result .cell {
    padding: 2px;
    vertical-align: top;
}

#rights-debugger .results .result:nth-child(even) {
    background-color: #DBE5F0;
}

#rights-debugger .results .result .match {
    font-weight: bold;
}

#rights-debugger .results .result .detail {
    font-size: 80%;
    color: #AAA;
    display: block;
}

