#rights-debugger .search input, 
#rights-debugger .results .result .cell {
    display: inline-block;
    width: 15em;
}

#rights-debugger .results .result .cell {
    text-overflow: ellipsis;
    overflow: hidden;
}

#rights-debugger .results .result .cell.revoke {
    display: inline-block;
    width: auto;
}

#rights-debugger .search .loading,
#rights-debugger > .loading {
    display: none;
}

#rights-debugger .search .loading img,
#rights-debugger > .loading img,
#rights-debugger .results .revoke img {
    height: 1.5em;
    width: 1.5em;
}

#rights-debugger.awaiting-first-result .search .loading {
    display: inline;
}

#rights-debugger.continuing-load > .loading {
    display: inline;
}

#rights-debugger.error .results {
    color: red;
    font-weight: bold;
}

#rights-debugger.awaiting-first-result .results {
    opacity: 0.5;
}

#rights-debugger .results .result .cell {
    padding: 2px;
    vertical-align: top;
}

#rights-debugger .results .result:nth-child(even) {
    background-color: rgb(236, 246, 252);
}

#rights-debugger .results .result .match {
    background-color: rgb(255, 253, 56);
    font-weight: bold;
}

#rights-debugger .results .result .detail {
    font-size: 80%;
    color: #AAA;
    display: block;
}

#rights-debugger .results .result .record.disabled .name {
    text-decoration: line-through;
}

#rights-debugger .results .result .primary {
    font-size: 80%;
    font-style: italic;
    display: block;
}

#rights-debugger .results .result .primary .detail {
    display: none;
}
