<& /Admin/Elements/Header, Title => loc("Rights Debugger") &>
<& /Elements/Tabs &>

<form action="<%RT->Config->Get('WebPath')%>/Helpers/RightsDebugger/Search" id="rights-debugger">
  <div class="search">
    <input value="<% $ARGS{Principal} %>" type="text" name="principal" placeholder="Principal">
    <input value="<% $ARGS{Object} %>" type="text" name="object" placeholder="Object">
    <input value="<% $ARGS{Right} %>" type="text" name="right" placeholder="Right">
    <span class="loading"><img src="<%RT->Config->Get('WebPath')%>/static/images/loading.gif" alt="<%loc('Loading')%>" title="<%loc('Loading')%>" /></span>
  </div>
  <div class="results">
  </div>
</form>

<script type="text/x-template" id="debugger-record-template">
  {{#if url}}
      <a target="_blank" href="{{url}}">{{{label_highlighted}}}</a>
  {{else}}
      {{{label_highlighted}}}
  {{/if}}

  <span class="detail">{{{detail_highlighted}}}</span>
</script>

<script type="text/x-template" id="debugger-result-template">
  <div class="result">
    <div class="principal cell">{{> render_record item.principal}}</div>
    <div class="object cell">{{> render_record item.object}}</div>
    <div class="right cell">{{{item.right_highlighted}}}</div>
    <div class="revoke cell">
        <button data-action="<%RT->Config->Get('WebPath')%>/Helpers/RightsDebugger/Revoke?id={{item.ace.id}}" {{#if item.disable_revoke}}class="ui-state-disabled" disabled="disabled"{{/if}}>Revoke</button>
    </div>
  </div>
</script>

<%INIT>
unless ($session{'CurrentUser'}->HasRight( Object=> RT->System, Right => 'SuperUser')) {
    Abort(loc('This feature is only available to system administrators.'));
}
</%INIT>
